h1 {
    color: rgb(255, 255, 255);
}

html, body {
  background-color: #0F172A;
}

#leaderboard
{
  background-color: #334155;
  color: #E2E8F0; 
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  width: 90%;
  height: auto;
  max-height: 250px;
  margin: 12px auto;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.5);
}