.image-container {
    position:absolute;
    top: 10px;
    left: 10px;
    display: flex;  
    gap: 10px;
}

.image-container img {
    width: 60px;
    height: auto;
    border-radius: 8px;
}

.buttons-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    gap: 10px; /* ruimte tussen knoppen */
}

.buttons-container button {
    font-size: 16px;
    padding: 10px 16px;
    border-radius: 8px;
    border: 1px solid #333;
    background: #f0f0f0;
    cursor: pointer;
}

.buttons-container button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#continueBtn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
}

#continueBtn:hover {
    background-color: #45a049;
}


